<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2FA Setup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>2-factor authentication</h1>

            {% if request.endpoint == 'show_2fa' %}
            <!-- Beim Registrieren -->
            <p>Scan the QR code with your Authenticator app and enter the code to activate 2FA.</p>
            {% else %}
            <!-- Beim Login -->
            <p>Enter the 6-digit code that you can find in your Authenticator app to log in.</p>
            {% endif %}
            
            {% if img_base64 %}
            <div class="qr-code">
                <img src="data:image/png;base64,{{ img_base64 }}" alt="QR Code"> <!-- QR Code als Base64 -->
            </div>
            {% endif %}
            
            <form method="POST" class="auth-form">
                <label for="code">Enter the code:</label>
                <input type="text" name="code" id="code" required maxlength="6" placeholder="XXXXXX">
                <button type="submit">Confirm</button>
            </form>
        </div>
    </div>
</body>
</html>
