<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        <h1>Reset Password</h1>
        <form method="POST" action="{{ url_for('reset_request') }}">
            <div class="form-group">
                <label for="email">Enter your email:</label>
                <input type="email" id="email" name="email" placeholder="E-Mail" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Reset Link">
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='password-check.js') }}"></script>
    <script src="{{ url_for('static', filename='flash-message.js') }}"></script>
</body>
</html>
